name: bench

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
  schedule:
    - cron: '0 9 * * 2'
  workflow_dispatch:

jobs:
  bench:
    name: bench-${{matrix.name}}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          # Oldest LTS
          - name: temurin-jdk8-target-jdk7
            version: 8
            distribution: temurin
            target: 7
            targetStr: '1.7'
          - name: temurin-jdk8-target-jdk8
            version: 8
            distribution: temurin
            target: 8
            targetStr: '1.8'
          # Latest LTS
          - name: temurin-jdk21-target-jdk8
            version: 21
            distribution: temurin
            target: 8
            targetStr: '1.8'
          - name: temurin-jdk21-target-jdk11
            version: 21
            distribution: temurin
            target: 11
            targetStr: '11'
          - name: temurin-jdk21-target-jdk17
            version: 21
            distribution: temurin
            target: 17
            targetStr: '17'
          - name: temurin-jdk21-target-jdk21
            version: 21
            distribution: temurin
            target: 21
            targetStr: '21'
    steps:
      - name: checkout-${{matrix.name}}
        uses: actions/checkout@v4
      - name: setup-toolchain-${{matrix.name}}
        uses: actions/setup-java@v4
        with:
          java-version: ${{matrix.version}}
          distribution: ${{matrix.distribution}}
          cache: maven
      - name: bench-${{matrix.name}}
        if: ${{matrix.version >= matrix.target}}
        run: mvn clean jmh:benchmark -Djmh.rf=json -Djmh.rff=./bench-${{matrix.name}}.json -Dmaven.compiler.source=${{matrix.targetStr}} -Dmaven.compiler.target=${{matrix.targetStr}} -Djacoco.skip=true -B -V
      - name: bench-step-summary-${{matrix.name}}
        if: ${{matrix.version >= matrix.target}}
        run: |
          echo -e "## bench-${{matrix.name}}\n\n" >> $GITHUB_STEP_SUMMARY
          echo -e "\`\`\`json\n" >> $GITHUB_STEP_SUMMARY
          cat ./bench-${{matrix.name}}.json >> $GITHUB_STEP_SUMMARY
          echo -e "\n\`\`\`\n" >> $GITHUB_STEP_SUMMARY
      - name: bench-pages-branch-${{matrix.name}}
        if: ${{github.ref_type == 'branch'}}
        uses: benchmark-action/github-action-benchmark@v1
        with:
          name: branch-${{github.ref_name}}-${{matrix.name}}
          tool: 'jmh'
          output-file-path: ./bench-${{matrix.name}}.json
          github-token: ${{secrets.GITHUB_TOKEN}}
          auto-push: true
          summary-always: true
          benchmark-data-dir-path: 'benchmark/branch/${{github.ref_name}}'
      - name: bench-pages-tag-${{matrix.name}}
        if: ${{github.ref_type == 'tag'}}
        uses: benchmark-action/github-action-benchmark@v1
        with:
          name: tag-${{github.ref_name}}-${{matrix.name}}
          tool: 'jmh'
          output-file-path: ./bench-${{matrix.name}}.json
          github-token: ${{secrets.GITHUB_TOKEN}}
          auto-push: true
          summary-always: true
          benchmark-data-dir-path: 'benchmark/tags'
