name: publish-dry-run

on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  publish-dry-run:
    name: publish-dry-run
    uses: ./.github/workflows/publish-dry-run.yml
  publish:
    name: publish
    needs:
      - publish-dry-run
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: setup-toolchain
        uses: actions/setup-java@v2
        with:
          java-version: 8
          distribution: temurin
          cache: maven
      - name: setup-gpg
        uses: crazy-max/ghaction-import-gpg@v5
        with:
          gpg-private-key: ${{secrets.MAVEN_GPG_PRIVATE_KEY}}
          passphrase: ${{secrets.MAVEN_GPG_PASSPHRASE}}
      - name: publish
        env:
          MAVEN_USERNAME: ${{secrets.MAVEN_USERNAME}}
          MAVEN_PASSWORD: ${{secrets.MAVEN_PASSWORD}}
          MAVEN_GPG_PASSPHRASE: ${{secrets.MAVEN_GPG_PASSPHRASE}}
        run: mvn deploy -P release --batch-mode --settings .settings.xml -DperformRelease=false --update-snapshots -B -V
