name: site

on:
  push:
    branches:
      - main
      - develop
      - main-v1
      - develop-v1
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:

jobs:
  site:
    name: package
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup-toolchain
        uses: actions/setup-java@v4
        with:
          java-version: 8
          distribution: temurin
          cache: maven
      - name: site
        run: mvn clean verify site --settings .settings.xml -Dgpg.skip -B -V
      - name: publish
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{secrets.GITHUB_TOKEN}}
          keep_files: false
          publish_branch: gh-pages
          publish_dir: ./target/site
          destination_dir: 'site/${{github.ref_type}}/${{github.ref_name}}'
